* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fs-6 {
  font-size: 15px !important;
}

.fs-7 {
  font-size: 13px !important;
}

.app {
  background-image: url('../public/images/Full Miner background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* button:hover {
  box-shadow: 2px 2px 5px yellow !important;
} */

.logo img {
  width: 300px;
}

.button_border {
  position: relative;
  width: 180px;
  margin: 5px;
  cursor: pointer;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)); */
  /* border-radius: 10px; */
}

.button_text {
  position: absolute;
  top: 20%;
  width: 100%;
  color: white;
}

.button_border img {
  width: 180px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.bnb_logo {
  width: 210px;
}

.bnb_logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.second_sec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.deposits_text {
  width: 220px;
  text-align: center;
  border: 4px solid rgb(0, 251, 255);
  border-radius: 28px;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.second_sec {
  background-image: url('../public/images/Flight deck.jpg');
  background-repeat: no-repeat;
  background-size: 79% 100%;
  background-position: center;
}

.deposits {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  border: 8px solid rgb(0, 251, 255);
  padding: 40px 40px;
  margin: -5px 0px
}

.wallet {
  width: 400px;
  border: 3px solid rgb(0, 251, 255);
  border-radius: 35px;
  padding: 10px;
}

.form-control {
  background-color: transparent !important;
  border: none;
  box-shadow: none !important;
  color: white !important;
}

.input-group {
  border: 3px solid yellow;
  border-radius: 10px;
}

.input-group-text {
  background-color: transparent;
  border: none;
  color: white;
}

.approve_btn {
  border: 3px solid yellow;
  border-radius: 10px;
  background-color: transparent;
  padding: 5px 40px;
  color: white;
}

.cargo_btn {
  border: 3px solid yellow;
  border-radius: 10px;
  background-color: transparent;
  padding: 15px 40px;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.daily_yeild {
  width: 550px;
  border: 3px solid rgb(0, 251, 255);
  border-radius: 80px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.all_info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  border: 8px solid rgb(0, 251, 255);
  padding: 20px;
  border-radius: 5px;
  margin: -5px 0px;
}

.yellow_border {
  border: 5px solid yellow;
  border-radius: 5px;
  /* margin: 0px -5px; */
}

.yellow_border2 {
  border: 2px solid yellow;
  border-radius: 35px;
}

.yellow_border3 {
  border: 2px solid yellow;
  border-radius: 80px;
}

.daily_head {
  border: 3px solid yellow;
  border-radius: 22px;
  width: 180px;
  color: white;
  padding: 5px;
}

.supply_feet {
  border: 3px solid yellow;
  border-radius: 30px;
  background-color: transparent;
  padding: 10px 40px;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  width: 93%;
}

.sell_cargo {
  border: 3px solid yellow;
  border-radius: 30px;
  background-color: transparent;
  padding: 10px 40px;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  width: 70%;
}

.referral_link {
  border: 4px solid rgb(0, 251, 255);
  border-radius: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.link_copy {
  width: 90%;
  border: 3px solid yellow;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  color: white;
  background-color: transparent;
  border-radius: 10px;
  padding: 4px;
}

.rewards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 40px;
  width: 100%;
}

.blue_border {
  margin: -5px 0px;
  border: 8px solid rgb(0, 251, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.link {
  width: 83%;
}

.imp_notes {
  margin: -5px 0px;
  border: 8px solid rgb(0, 251, 255);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notes {
  border: 4px solid rgb(0, 251, 255);
  border-radius: 80px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.faqs {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  border: 4px solid rgb(0, 251, 255);
  border-radius: 80px;
}

.accordion-item {
  background-color: transparent;
  color: #dde500;
  text-align: center;
}

.accordion-button {
  display: block;
  background-color: transparent;
  color: #dde500;
  text-align: center;
  padding: 5px;
}

.accordion-button:focus {
  border: none;
  box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
  color: #dde500;
  text-align: center;
}

.footer {
  position: relative;
  padding-bottom: 100px;
}

.infinity_miner {
  border: 3px solid yellow;
  border-radius: 10px;
  width: max-content;
  padding: 0px 30px;
  color: white;
}

.arial_blue {
  border: 4px solid rgb(0, 251, 255);
  border-radius: 27px;
  margin: -5px 0px;
}

.arial_yellow {
  border: 4px solid yellow;
  border-radius: 27px;
}

.arial_yellow2 {
  border: 4px solid yellow;
  border-radius: 27px;
  transform: rotate(60deg);
  position: absolute;
  bottom: 13%;
  left: 27%;
}

.arial_yellow3 {
  border: 4px solid yellow;
  border-radius: 27px;
  transform: rotate(300deg);
  position: absolute;
  bottom: 13%;
  right: 27%;
}
.copyright p{
  text-shadow: 2px 2px black !important;
}

@media(max-width: 560px) {
  .daily_yeild {
    width: 400px;
  }

  .yellow_border {
    border: none;
    margin: 0px;
  }

  .all_info {
    border: none;
  }

  .deposits {
    margin: 0;
    border: none;
  }

  .blue_border {
    border: none;
    margin: 0;
  }

  .second_sec {
    background-size: cover;
  }

  .imp_notes {
    border: none;
    margin: 0;
  }
}

@media(max-width: 450px) {
  .wallet {
    width: 300px;
  }

  .daily_yeild {
    width: 300px;
  }
}

@media(max-width: 1240px) {

  .arial_yellow {
    border: 4px solid yellow;
    border-radius: 27px;
  }

  .arial_yellow2 {
    border: 4px solid yellow;
    border-radius: 27px;
    transform: rotate(0deg);
    position: relative;
    bottom: 0;
    left: 0;
  }

  .arial_yellow3 {
    border: 4px solid yellow;
    border-radius: 27px;
    transform: rotate(0deg);
    position: relative;
    bottom: 0;
    right: 0;
  }

  .recycle {
    display: none;
  }
}